<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/member/edit}" method="post">
    <input type="hidden" name="id" th:value="${member.id}">
    이  름: <input type="text" name="name" th:value="${member.name}"><br>
    이메일: <input type="text" name="email" th:value="${member.email}"><br>
    나  이:<input type="text" name="age" th:value="${member.age}"><br>
    <button>가입자 수정</button>
</form>
</body>
</html>